<div class="d-flex justify-content-center">
  <a class="btn btn-outline-dark rounded-pill" href="/cart" title="Cart">
    <i class="bi-cart-fill me-1"></i>Cart  
    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cartQuantity }}</span>
  </a>
  <a class="btn btn-outline-dark rounded-pill mx-2" href="/user-login" title="login">
    <i class="bi-person"></i>
  </a>
</div>