<!-- Product section-->
<section class="py-2">
  <div class="container px-4 px-lg-5 my-5">
    <div id="notification"></div>
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-5">
        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
      </div>
      <div class="col-md-7">
        <sub class="small mb-1 text-muted">SKU: BST-498</sub>
        <h1 class="display-5 fw-bolder" id="sku_name"></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">₹45.00</span>
          <span id="pprice"></span>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati
          excepturi alias magni, accusamus eius blanditiis delectus ipsam minima
          ea iste laborum vero?</p>
        <div class="d-flex">
          {{!-- <button class="me-3" onclick="increment()">+</button>
          <button class="me-3" onclick="decrement()">-</button> --}}
          <input class="form-control text-center me-3" id="inputQuantity" type="num" style="max-width: 5rem;"></input>
          <button id="quantity" class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>