<!-- Product section-->
<section class="py-2">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-5">
        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
      </div>
      <div class="col-md-7">
        <sub class="small mb-1 text-muted">SKU: BST-498</sub>
        <h1 class="display-5 fw-bolder" id="sku_name"></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">₹45.00</span>
          <span id="pprice"></span>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati
          excepturi alias magni, accusamus eius blanditiis delectus ipsam minima
          ea iste laborum vero?</p>
        <div class="d-flex">
          {{!-- <button class="me-3" onclick="increment()">+</button>
          <button class="me-3" onclick="decrement()">-</button> --}}
          <input class="form-control text-center me-3" id="inputQuantity" type="num" style="max-width: 5rem;"></input>
          <button id="quantity" class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var data = 0;
  var offer_price = 40.00;
  var sku = "HTML5";

  document.getElementById("inputQuantity").innerText = data;
  document.getElementById("pprice").innerText = '₹' + offer_price;
  document.getElementById("sku_name").innerHTML = sku;

  //click function call
  document.getElementById("quantity").addEventListener("click", increment);

  //fetch local storage value
  var pr_list = localStorage.getItem("purchase");
  var p_date = JSON.parse(pr_list);

  
  document.getElementById("cartquantity").innerHTML = p_date.c_qn;

  function increment() {
    //show quantity, cart quantity
    data = data + 1;
    var c_qn = document.getElementById("cartquantity").innerText = data;
    var i_qn = document.getElementById("inputQuantity").value;
    //cart price calc
    var cart_price = i_qn * offer_price;
    var p_pr = document.getElementById("pprice").innerText = '₹' + cart_price;


    var p_id = 'purchase' + Date.now('dmy');

    const p_list = {
      p_id: p_id,
      i_qn: i_qn,
      c_qn: c_qn,
      p_pr: p_pr,
      sku: sku,
    }
    //console.log(JSON.stringify(p_list));
    window.localStorage.setItem("purchase", JSON.stringify(p_list));
    //set local storage value for cart process
    //localStorage.setItem("sku_name", sku);
    //localStorage.setItem("cartquantity", data);
    //localStorage.setItem("cart_price", cart_price); 
  }

  function decrement() {
    data = 0;
    offer_price = 0;
    document.getElementById("cartquantity").innerText = data;
    document.getElementById("inputQuantity").innerText = data;
    document.getElementById("pprice").innerText = '₹' + offer_price;
    localStorage.removeItem("inputQuantity", inputQuantity);
    localStorage.removeItem("pprice", pprice);
  }

</script>