<!-- Footer-->
{{!-- <footer class="footer py-1 bg-light">
    <div class="container">
        <p class="m-0 text-center text-dark">Copyright &copy; Your Website 2022</p>
    </div>
</footer> --}}
<footer class="footer mt-auto py-3 bg-light">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/all-products" class="nav-link px-2 text-muted">products</a></li>
        <li class="nav-item"><a href="/user-login" class="nav-link px-2 text-muted">login</a></li>
        <li class="nav-item"><a href="/why-us" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="/cart" class="nav-link px-2 text-muted position-relative"><span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ cartQuantity }}
                    <span class="visually-hidden">unread messages</span>
                </span>Cart</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
</footer>