{{>header}}
{{>navbar}}

{{! About Section }}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-12">
        <h3 class="text-left py-4">About Section</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat, laboriosam eos rem molestiae alias
          nisi necessitatibus quos, optio dolorum amet consequatur error similique ipsa soluta, eius deserunt quam ex.
          Ipsam omnis iste tenetur qui dolores! Tempore cumque cum saepe. Dicta nesciunt distinctio, modi error
          explicabo veniam inventore temporibus voluptatibus repellendus earum, suscipit accusantium consequuntur ipsum
          quae assumenda. Corrupti, eveniet.
          Minus repellendus delectus eveniet at nobis commodi natus officiis sed rem quibusdam repudiandae, possimus nam
          ea numquam unde magni culpa quis eligendi obcaecati esse? Eligendi iste numquam illo magni quibusdam!
          Placeat rem ipsa voluptate nemo, sint esse expedita ipsum, illum asperiores perspiciatis, dicta ratione
          deserunt iusto mollitia? Laborum reiciendis alias eum provident architecto recusandae deleniti sunt, ab,
          molestias quos adipisci?</p>
      </div>
    </div>
  </div>
</section>

{{>footer}}