<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{title}}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <style>
        .form-signin {
            width: 100%;
            max-width: 350px;
            padding-right: 1.5em;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>

<body>
    {{> navbar}}
    <section class="py-1 mb-1 mt-lg-5">
        <div class="container px-4 px-lg-5 my-3 overflow-hidden">
            <div class="row">
                <div class="col-md-8 py-5">
                    <h3 class="text-left">Happy Shop</h3>
                    <div class="d-flex overflow-hidden" style="height: 330px;">
                        <p>
                            A grocery store is another form of retailing, primarily focusing on selling food, along with
                            non-food
                            household products, such as bathroom or cleaning products, to their consumers. Generally,
                            most
                            grocery stores
                            will carry canned items, fish, dairy products, raw and prepared meats, baked products, fresh
                            and
                            frozen fruits
                            and vegetables, and many different snacks.1 Larger grocery stores, also known as
                            supermarkets,
                            can carry
                            non-food products, such as clothing and household items due to the immense amount of space
                            they
                            occupy and
                            their large profit allowing them to reach a more diverse consumer market, also allowing for
                            consumers to find
                            all their needs in one area. Depending on their geographic concentration, grocery stores
                            will
                            vary in size and
                            products they will carry to fit and satisfy their consumers needs. Some examples of grocery
                            stores or
                            supermarket that excel in this category are Loblaws, Metro and Sobeys.
                        </p>
                        <div class="vr mx-4"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <main class="form-signin">
                        <form action="/user-dashboard">
                            <div class="text-center">
                                <img class="mb-4" src="assets/user.svg" alt="" width="82" height="67">
                                <h1 class="h3 mb-3 fw-normal text-uppercase">Profile Register</h1>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <input type="text" class="form-control rounded-pill" placeholder="full name"
                                        required="required">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <input type="text" class="form-control rounded-pill" placeholder="user name"
                                        required="required">
                                </div>
                                <div class="col-md-12 mb-2">
                                    <input type="email" class="form-control rounded-pill" placeholder="demo@example.com"
                                        required="required">
                                </div>

                                {{!-- <div class="col-md-5 mb-2">
                                    <select class="form-control form-select rounded-pill"
                                        aria-label="Default select example">
                                        <option selected>your Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="staff">Staff</option>
                                        <option value="user">User</option>
                                    </select>
                                </div> --}}
                                <div class="col-md-6 mb-2">
                                    <input type="date" class="form-control rounded-pill">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <select class="form-control form-select rounded-pill"
                                        aria-label="Default select example">
                                        <option selected>select your Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <input type="password" class="form-control rounded-pill" placeholder="Password"
                                        required="required">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <input type="password" class="form-control rounded-pill"
                                        placeholder="confirm Password" required="required">
                                </div>

                                <div class="checkbox mb-3 mx-4">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Agree to our terms and conditions
                                    </label>
                                </div>

                                <div class="d-flex gap-2 justify-content-end">
                                    <button class="w-25 btn btn-sm btn-outline-secondary rounded-pill"
                                        type="reset">Reset</button>
                                    <button class="w-25 btn btn-sm btn-outline-primary rounded-pill"
                                        type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div class="hstack gap-0 py-3">
                            <a class="nav-link" href="/user-reset-pass"><i class="bi-person-fill-gear"></i>forgot password ?</a>
                            <a class="nav-link" href="/user-login"><i class="bi-person-fill-lock"></i>login Now</a>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}