{{!-- Customers --}}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    class="navcontent" id="customers">
    <h1 class="h2">Customers</h1>
</div>

<div class="row">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Customer Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Gender</th>
      <th scope="col">City</th>
      <th scope="col">Register Date</th>
      <th scope="col">Last Purchase</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">990011</th>
      <td>Salman Khan</td>
      <td>Male</td>
      <td>Mumbai</td>
      <td>15/09/2020</td>
      <td>12/12/2022</td>
      <td>Blank</td>
    </tr>
    <tr>
      <th scope="row">990022</th>
      <td>Sahrukh Khan</td>
      <td>Male</td>
      <td>Mumbai</td>
      <td>15/09/2020</td>
      <td>15/12/2022</td>
      <td>Blank</td>
    </tr>
    <tr>
      <th scope="row">990033</th>
      <td>Amir Khan</td>
      <td>Male</td>
      <td>Mumbai</td>
      <td>15/09/2020</td>
      <td>19/12/2022</td>
      <td>Blank</td>
    </tr>
    
  </tbody>
</table>
</div>