{{!-- Products --}}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    class="navcontent" id="products">
    <h1 class="h2">Products</h1>
</div>

<div class="container" style="height: 29rem">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Newest</h5>
                    <p class="card-text">Latest Designs and exciting price.</p>
                    <a href="#" class="btn btn-outline-secondary btn-sm">EXPLORE</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top Selling</h5>
                    <p class="card-text">Top selling products and exciting offers.</p>
                    <a href="#" class="btn btn-primary btn-sm">EXPLORE</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Trending</h5>
                    <p class="card-text">Top Trending designs which makes you different.</p>
                    <a href="#" class="btn btn-outline-success btn-sm">EXPLORE</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brands</h5>
                    <p class="card-text">Top branded products and designs with exciting prices.</p>
                    <a href="#" class="btn btn-outline-danger btn-sm">EXPLORE</a>
                </div>
            </div>
        </div>
    </div>
</div>