{{!-- Sellers --}}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    class="navcontent" id="sellers">
    <h1 class="h2">Sellers</h1>
</div>

<div class="container" style="height: 450px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">URBAN</h5>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SEMI-URBAN</h5>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

    </div>
</div>