{{!-- Track-Orders --}}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  class="navcontent" id="track">
  <h1 class="h2">Track-Orders</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order No</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Order Details</th>
        <th scope="col">City</th>
        <th scope="col">Order Placed ON</th>
        <th scope="col">Expected Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
      <tbody id="tracking"></tbody>
  </table>
</div>

<script src="js/track_Orders.js"></script>